@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../fonts/Inter-Medium.ttf);
  font-weight: 500;
}
